{% comment %}
  Displays the address from _data/information.yml properly formatted
{% endcomment %}

{% if information %}
<p>
  {% if information.address_1 %}
    <i class="fa fa-map-marker address-icon" aria-hidden="true"></i>{{ information.address_1 }}
  {% endif %}
  {% if information.address_2 %}{{ information.address_2 }}<br />{% endif %}
  {% if information.country and information.state and information.city %}
  {{ information.city }}, {{ information.state }}, {{ information.country }}<br />
  {% endif %}
  <br />
  {% if information.phone %}
  <i class="fa fa-phone-square" aria-hidden="true"></i>
  <a href="tel:{{ information.phone }}" title="{{ information.phone }}">{{ information.phone }}</a><br />
  {% endif %}
  {% if information.email %}
  <i class="fa fa-envelope" aria-hidden="true"></i>
  <a href="mailto:{{ information.email }}" title="{{ information.email }}">{{ information.email }}</a>
  {% endif %}
</p>
{% endif %}