<footer class="site-footer">
	<div class="container pure-g">
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <img src="{{ "/img/logo-white.png" | absolute_url }}" alt="" class="footer-logo">
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>{{ site.short_title }}</h3>
            <ul>
            {% for item in site.data.menus.sidebar %}
                <li><a href="{{ item.url | absolute_url }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>{{ site.data.footer.collection.title }}</h3>
            <ul>
            {% for course in site.courses limit:5 %}
                <li><a href="{{ course.url | absolute_url }}">{{ course.title }}</a></li>
            {% endfor %}
            {% if site.courses | size > 5 %}
                <li><a href="{{ site.data.footer.collection.href | absolute_url }}">{{ site.data.footer.collection.see_all }}</a></li>
            {% endif %}
            </ul>
        </div>
        <div class="footer-col pure-u-1 pure-u-md-1-4">
            <h3>{{ site.data.footer.contact }}</h3>
            {% include address.html %}
            {% include social-networks.html %}
        </div>
	</div>
	<div class="copyright">
        <p>
            &copy;{{ 'now' | date: "%Y" }} {{ site.title }}<br>
            {% if site.admin %}
              <a href="{{ "/admin" | absolute_url }}">Site Admin</a>
            {% endif %}
		</p>
	</div>
</footer>
</body>
</html>
