<section class="hero">
    <div class="container pure-g">
        <div class="landing-hero">
            <div class="text">
                <div class="title">{{ page.textline }}</div>
                <div class="subtitle">{{ page.sub_textline }}</div>
                <a class="link" href="{{ page.hero_button.href | absolute_url }}"><button>{{ page.hero_button.text }}</button></a>
            </div>
            <div class="image">
                <img src="{{ page.landing_hero.src }}" alt="{{ page.landing_hero.alt }}"/>
            </div>
        </div>
    </div>
</section>
