<section class="hero">
    <div class="container pure-g">
        <div class="landing-hero">
            <div class="text">
                <div class="title">Entrá al mundo de la música.</div>
                <div class="subtitle">Realizá tus primeros pasos o enriquecé lo que ya sabes</div>
                <a class="link" href="{{ "/projects" | absolute_url }}"><button>Ver Talleres</button></a>
            </div>
            <div class="image">
                <img src="img/hero-image.png"/>
            </div>
        </div>
    </div>
</section>
