{% if page.show_news %}
<section class="news">
    <div class="container pure-g">
        <h2 class="section-title">{{ page.news.title }}</h2>
        <div class="posts">
            {% for post in site.posts limit:2 %}
            <div class="post">
                <span class="category">{{ post.category }}</span>
                <span class="title">{{ post.title }}</span>
                <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
                <span class="sub-title">{{ post.sub_heading }}</span>
                <a class="button outline" href="{{ post.url | absolute_url }}">
                    {{ page.news.read }}
                </a>
            </div>
            {% endfor %}
        </div>
        <a class="button link see-more" href="{{ page.news.see_more.href | absolute_url }}">
            {{ page.news.see_more.button }} <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</section>
{% endif %}
