{% if page.show_news %}
<section class="news">
    <div class="container pure-g">
        <h2 class="section-title">{{ page.news.title }}</h2>
        <div class="posts">
            {% for post in site.posts limit:2 %}
            <div class="post">
                <span class="category">NOTICIAS</span>
                <span class="title">{{ post.title }}</span>
                <span class="date">{{ post.date | date: "%d/%m/%Y" }}</span>
                <span class="sub-title">{{ post.sub_heading }}</span>
                <a href="{{ post.url | absolute_url }}">
                    <button class="outline">{{ page.news.read }}</button>
                </a>
            </div>
            {% endfor %}
        </div>
        <a href="{{ page.news.see_more.href | absolute_url }}" class="link see-more">
            <button>{{ page.news.see_more.button }} <i class="fa fa-chevron-right"></i></button>
        </a>
    </div>
</section>
{% endif %}
