{% if services %}
<section class="services">
    <div class="container pure-g">
        <div class="title">{{ services_title }}</div>
        <div class="service-list">
            {% for item in services %}
                <div class="service">
                    <div class="service-icon"><img src="{{ item.icon | url }}" alt=""></div>
                    <h2>{{ item.heading }}</h2>
                    <p>{{ item.description }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}
