.site-header {
  min-height: $nav-height;
  .container {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    margin-top: 15px;
  }

  .main-nav {
    ul {
      float: none;
      margin-top: 30px;
    }
  }

  $links-color: #5B708B;

  .navigation, .social-networks {
    li {
      list-style: none;
    }
    li > a {
      color: $links-color;
      font-weight: 400;
    }
    li.current > a {
      color: $main-color;
      border-bottom-color: $main-color;
    }
    li > a:hover {
      color: $main-color;
    }
  }

  .social-networks {
    display: flex;
    margin-top: 35px;
    padding-left: 0;
    li {
      margin-left: 0;
      a {
        padding: 5px 8px;
      }
    }
    .fab {
      color: $links-color;
      &:hover {
        color: $main-color;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .social-networks {
      visibility: hidden;
    }
  }
}
