.services {
  .title {
    color: $main-color;
    width: 100%;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .service-icon img {
    width: 100px;
  }
  h2 {
    color: $main-color;
    font-weight: 400;
  }
  p {
    color: #526B84;
    font-weight: 200;
  }
}